<%- include('header'); -%>

    <div class="box" id="heading">
        <h1><%= _listTitle %> ToDo list</h1>
    </div>

    <div class="box">
        <!-- <% for(var i=0;i<newListItems.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i].name %></p>
            </div>
        <% } %> -->
        <% newListItems.forEach((item)=>{ %>
            <div class="item">
                <input type="checkbox">
                <p><%= item.name %></p>
            </div>
        <% }) %>   

        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="Add Task" autocomplete="off">
            <button type="submit" name="button" value=<%= _listTitle %>>+</button>
        </form>
    </div>
   
<%- include('footer'); -%>